<h1 class="fs-4">Acerca de esta web</h1>

<img class="rounded my-4 mx-auto d-block" src="img/ree.jpg" width="800" height="452" alt="Torre de alta tensión de Red Eléctrica"
    title="Torre de alta tensión de Red Eléctrica © Jberrosl / Wikimedia CC-BY-SA-4.0">

<p>
    El apagón del pasado 28 de abril suscitó muchas especulaciones sobre nuestro sistema eléctrico.
    Esta web pretende divulgar información sobre dicho sistema de manera sencilla para para que cualquier persona 
    pueda estar medianamente informada sobre los datos producidos por el sistema de Red Eléctrica (Redeia).
</p>

<p>Si quieres opinar (siempre con respeto) no dudes en dejar un comentario en cualquiera de las secciones, incluida esta.</p>


<app-comentarios-lista [seccion]="this.seccion"></app-comentarios-lista>