<form #formComentario="ngForm">
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input type="text" name="nombre" class="form-control" [ngClass]="{'is-invalid': !this.nombreValido}" (keyup)="validarNombre()" (blur)="validarNombre()" [(ngModel)]="this.comentario.nombre" required>
    <div class="invalid-feedback">
      Debes rellenar el nombre.
    </div>
  </div>

  <div class="mb-3">
    <label for="correo" class="form-label">Correo</label>
    <input type="email" name="correo" class="form-control" [ngClass]="{'is-invalid': !this.correoValido}" (keyup)="validarCorreo()" (blur)="validarCorreo()" [(ngModel)]="this.comentario.correo" required>
    <div class="invalid-feedback">
      Debes escribir un correo válido.
    </div>
  </div>

  <div class="mb-3">
    <label for="comentario" class="form-label">Comentario</label>
    <textarea name="comentario" class="form-control" [ngClass]="{'is-invalid': !this.comentarioValido}" (keyup)="validarComentario()" (blur)="validarComentario()" [(ngModel)]="this.comentario.comentario" required></textarea>
    <div class="invalid-feedback">
      El comentario no puede estar vacío.
    </div>
  </div>

  <div *ngIf="this.comentarioEditar">
    <div class="mb-3">
      <label for="fecha" class="form-label">Fecha y hora</label>
      <input type="datetime-local" name="fecha" class="form-control" [(ngModel)]="this.comentario.fecha">
    </div>
  </div>

  <div *ngIf="this.comentarioEditar">
    <div class="mb-3">
      <label for="seccion" class="form-label">Sección</label>
      <select name="seccion" class="form-control" [(ngModel)]="this.comentario.seccion">
        <option value="demanda">Demanda</option>
        <option value="mix">Mix</option>
        <option value="cobertura">Cobertura</option>
        <option value="about">Acerca de</option>
      </select>
    </div>
  </div>

  <div class="d-flex justify-content-evenly">
    <div *ngIf="this.comentarioEditar">
      <button type="submit" class="btn btn-primary" (click)="cancelar()">Cancelar</button>
      <button type="submit" class="btn btn-primary" (click)="borrarComentario()">Borrar</button>
    </div>
    <button type="submit" class="btn btn-primary" (click)="enviarComentario(); formComentario.resetForm()" [disabled]="!this.botonActivo || !this.validarBoton()">Enviar</button>
  </div>
  
</form>