<hr class="mt-5">
<h2 class="mb-4 fs-5">Añade tu comentario:</h2>

<app-comentario-form-nuevo [comentarios]="this.comentarios" [seccion]="this.seccion"></app-comentario-form-nuevo>


<!-- Muestra una alerta si hay error en la API -->
<div *ngIf="this.errorApiError">
  <div class="alert alert-danger" role="alert">
    <p class="fw-bold"><i class="bi bi-exclamation-triangle-fill"></i> Error en la API de comentarios</p>
    <p class="fst-italic">{{this.errorApiError}}</p>
    <p class="fst-italic">{{this.errorApiMessage}}</p>
  </div>
</div>


<div *ngIf="this.comentarios.length">
  <!-- LISTA DE COMENTARIOS PUBLICADOS -->
  <h2 class="my-4 fs-5">Comentarios publicados:</h2>

  <div *ngFor="let comentario of this.comentarios; let indice = index">
    <div class="card mb-4">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div>#{{indice + 1}}</div><div>[{{comentario.fecha.toLocaleString("es-ES")}}]</div>
        </div>
        
        <p class="fst-italic">{{comentario.comentario}}</p>

        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <img src="{{ this.hashearGravatar(comentario.correo) }}" alt="avatar" width="50"
              height="50" />
            <p class="small mb-0 ms-2">{{comentario.nombre}} ({{comentario.correo}})</p>
          </div>
          <div class="d-flex flex-row align-items-center">
            <i class="bi bi-heart text-body"></i>
            <div *ngIf="this._loginService.comprobarLogin()">
              <button class="btn btn-primary ms-2" (click)="editarComentario(comentario.id)">Editar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

