canvas {
  filter: invert(1) hue-rotate(180deg) !important;
}

.toast {
  position: fixed;
  top: 50px;
  right: 10px;
  margin: .5em;
  z-index: 1200;
}

a.nav-link {
  padding: 0 6px !important;
  &:hover { 
    background-color: rgba(255, 195, 14, 1) !important;
    color: black !important;
  }
  &.fondo-dark:hover {
    background-color: black !important;
    color: white !important;
  }
}