<h1>Demanda</h1>
<div class="bg-info border-left border-info">
<p>Demanda recogida en el sistema eléctrico peninsular de los últimos 30 días</p>
</div>

<div *ngIf="this.cargando === true">
  <app-loading></app-loading>
</div>

<table class="table table-dark table-striped" *ngIf="this.cargando === false">
  <thead>
    <tr>
      <th>Fecha</th><th>MW</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let demanda of this.demandas; let indice = index">
      <td>{{demanda.fecha}}</td><td>{{demanda.megavatios}} MW</td>
    </tr>
  </tbody>
  
</table>

<canvas id="GraficoDemanda" class="w-100 h-100 mb-4"></canvas>

<app-listacomentarios [seccion]="this.seccion"></app-listacomentarios>