<h1 class="display-6">Cobertura de la demanda</h1>
<article>
  <p>
    Este gráfico muestra cómo se ha cubierto sido la generación que ha cubierto
    la demanda de eletricidad, dividiéndola en generación renovable y no renovable.
  </p>
  <p>
    Por defecto se muestran los últimos 30 días.
  </p>
</article>

<hr>

<div *ngIf="this.cargando === true">
  <app-loading></app-loading>
</div>

<canvas id="GraficoCobertura" class="w-100 h-100"></canvas>

<app-comentarios-lista [seccion]="this.seccion"></app-comentarios-lista>